@layer reset, settings, typography, components, layout, overrides;

@layer reset {

  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    scrollbar-gutter: stable;
  }
}

@layer settings {

  body {
    --mc-phi: 1.6185;
    --mc-base: 1rem;
    --mc-scale-0: calc(var(--mc-base) * pow(var(--mc-phi), -4));
    --mc-scale-1: calc(var(--mc-base) * pow(var(--mc-phi), -3));
    --mc-scale-2: calc(var(--mc-base) * pow(var(--mc-phi), -2));
    --mc-scale-3: calc(var(--mc-base) * pow(var(--mc-phi), -1));
    --mc-scale-4: calc(var(--mc-base) * pow(var(--mc-phi), 0));
    --mc-scale-5: calc(var(--mc-base) * pow(var(--mc-phi), 1));
    --mc-scale-6: calc(var(--mc-base) * pow(var(--mc-phi), 2));
    --mc-scale-7: calc(var(--mc-base) * pow(var(--mc-phi), 3));
    --mc-scale-8: calc(var(--mc-base) * pow(var(--mc-phi), 4));
    --mc-scale-9: calc(var(--mc-base) * pow(var(--mc-phi), 5));
    --mc-scale-10: calc(var(--mc-base) * pow(var(--mc-phi), 6));
    --mc-scale-11: calc(var(--mc-base) * pow(var(--mc-phi), 7));
    --mc-scale-12: calc(var(--mc-base) * pow(var(--mc-phi), 8));

    --mc-font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif;
    --mc-font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    --mc-font-family: var(--mc-font-family-sans-serif);
    --mc-font-weight: 500;
    --mc-line-height: var(--mc-phi);
    --mc-font-size: var(--mc-base);

    --mc-heading-step: 0.4;
    --mc-heading-font-weight: 500;

    --mc-border-width: calc(var(--mc-base) * pow(var(--mc-phi), -5));
    --mc-focus-outline-width: calc(var(--mc-base) * pow(var(--mc-phi), -3));

    --mc-lightness-0: 100%;
    --mc-lightness-1: 97.0%;
    --mc-lightness-2: 95.0%;
    --mc-lightness-3: 86.5%;
    --mc-lightness-4: 78.0%;
    --mc-lightness-5: 69.5%;
    --mc-lightness-6: 61.0%;
    --mc-lightness-7: 52.5%;
    --mc-lightness-8: 44.0%;
    --mc-lightness-9: 35.5%;
    --mc-lightness-10: 27.0%;
    --mc-lightness-11: 18.5%;
    --mc-lightness-12: 0%;

    --mc-accent-hue: 210;
    --mc-accent-saturation: 70%;

    --mc-neutral-hue: 0;
    --mc-neutral-saturation: 0%;

    --mc-shadow-hue: var(--mc-neutral-hue);
    --mc-shadow-saturation: var(--mc-neutral-saturation);

    & h1 {
      --mc-font-size: calc(var(--mc-base) * pow(var(--mc-phi), var(--mc-heading-step) * 6));
    }

    & h2 {
      --mc-font-size: calc(var(--mc-base) * pow(var(--mc-phi), var(--mc-heading-step) * 5));
    }

    & h3 {
      --mc-font-size: calc(var(--mc-base) * pow(var(--mc-phi), var(--mc-heading-step) * 4));
    }

    & h4 {
      --mc-font-size: calc(var(--mc-base) * pow(var(--mc-phi), var(--mc-heading-step) * 3));
    }

    & h5 {
      --mc-font-size: calc(var(--mc-base) * pow(var(--mc-phi), var(--mc-heading-step) * 2));
    }

    & h6 {
      --mc-font-size: calc(var(--mc-base) * pow(var(--mc-phi), var(--mc-heading-step) * 1));
    }

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      --mc-font-weight: var(--mc-heading-font-weight);
    }
  }
}

@layer typography {
  body {

    font-family: var(--mc-font-family);
    font-size: var(--mc-font-size);
    font-weight: var(--mc-font-weight);
    line-height: var(--mc-line-height);
    color: var(--mc-color);
    box-sizing: border-box;

    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6,
    & address,
    & blockquote,
    & dl,
    & ol,
    & p,
    & pre,
    & table,
    & ul {
      font-family: var(--mc-font-family);
      font-size: var(--mc-font-size);
      font-weight: var(--mc-font-weight);
      line-height: var(--mc-line-height);
      margin-block: var(--mc-scale-3);

      &:first-child {
        margin-block-start: 0;
      }

      &:last-child {
        margin-block-end: 0;
      }
    }

    & a {
      color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-8));
      transition:
        color 0.25s ease-in-out, outline-color 0.1s ease-in-out;
    }

    & a:hover,
    & a:active {
      color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-10));
    }

    & a[aria-current="page"] {
      color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-10));
    }

    & a[aria-current="page"]:hover,
    & a[aria-current="page"]:active {
      color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-12));
    }
  }
}

@layer components {
  body {
    & button {
      font-size: inherit;

      --mc-button-height: calc(var(--mc-scale-5) + 2 * var(--mc-scale-2));

      &.solid,
      &.outline,
      &.ghost {
        cursor: pointer;
        padding: 0 var(--mc-scale-4);
        height: var(--mc-button-height);
        user-select: none;
        border-radius: var(--mc-scale-2);
        outline: var(--mc-focus-outline-width) solid transparent;
        transition:
          border-color 0.25s ease-in-out, background-color 0.25s ease-in-out, color 0.25s ease-in-out, outline-color 0.2s ease-in-out;
        display: flex;
        align-items: center;
        column-gap: var(--mc-scale-3);

        & * {
          pointer-events: none;
        }

        &:focus-visible {
          outline: var(--mc-focus-outline-width) solid hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-5) / 70%);
        }
      }

      &.icon {
        width: var(--mc-button-height);
        padding: var(--mc-scale-3);
      }

      &.solid {
        color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-0));
        background: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-8));
        border: var(--mc-border-width) solid hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-8));
      }

      &.solid:hover {
        background: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-9));
        border: var(--mc-border-width) solid hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-9));
      }

      &.solid:active {
        background: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-10));
        border: var(--mc-border-width) solid hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-10));
      }

      &.solid:disabled {
        background: hsl(var(--mc-accent-hue) 0% var(--mc-lightness-3));
        border: var(--mc-border-width) solid hsl(var(--mc-accent-hue) 0% var(--mc-lightness-3));
        color: hsl(var(--mc-accent-hue) 0% var(--mc-lightness-8));
        cursor: default;
      }

      &.outline {
        color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-9));
        background: transparent;
        border: var(--mc-border-width) solid hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-9));
      }

      &.outline:hover {
        color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-10));
        background: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-8) / 10%);
      }

      &.outline:active {
        color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-11));
        background: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-8) / 20%);
      }

      &.outline:disabled {
        background: hsl(var(--mc-accent-hue) 0% var(--mc-lightness-1));
        border: var(--mc-border-width) solid hsl(var(--mc-accent-hue) 0% var(--mc-lightness-4));
        color: hsl(var(--mc-accent-hue) 0% var(--mc-lightness-7));
        cursor: default;
      }

      &.ghost {
        color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-9));
        background: transparent;
        border: transparent;
      }

      &.ghost:hover {
        color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-10));
        background: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-8) / 10%);
      }

      &.ghost:active {
        color: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-11));
        background: hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-8) / 20%);
      }

      &.ghost:disabled {
        background: hsl(var(--mc-accent-hue) 0% var(--mc-lightness-1));
        border: none;
        color: hsl(var(--mc-accent-hue) 0% var(--mc-lightness-7));
        cursor: default;
      }
    }

    & .card {
      margin-block: var(--mc-scale-5);
      border: var(--mc-border-width) solid var(--mc-border-color, hsl(var(--mc-neutral-hue) var(--mc-neutral-saturation) var(--mc-lightness-3)));
      background: hsl(var(--mc-neutral-hue) var(--mc-neutral-saturation) var(--mc-lightness-0));
      border-radius: var(--mc-scale-2);
      box-shadow:
        0px var(--mc-scale-1) var(--mc-scale-2) 0 hsl(var(--mc-shadow-hue) var(--mc-shadow-saturation) var(--mc-lightness-5) / 0.3);

      &:first-child {
        margin-block-start: 0;
      }

      &:last-child {
        margin-block-end: 0;
      }

      &>header:first-child,
      &>footer:last-child {
        background: hsl(var(--mc-neutral-hue) var(--mc-neutral-saturation) var(--mc-lightness-1));
      }

      &>header:first-child {
        border-block-end: var(--mc-border-width) solid hsl(var(--mc-neutral-hue) var(--mc-neutral-saturation) var(--mc-lightness-3));
        border-radius: var(--mc-scale-2) var(--mc-scale-2) 0 0;
      }

      &>header:first-child,
      &>footer:last-child,
      &>section {
        padding: var(--mc-scale-4) var(--mc-scale-5);
      }

      &>footer:last-child {
        border-block-start: var(--mc-border-width) solid hsl(var(--mc-neutral-hue) var(--mc-neutral-saturation) var(--mc-lightness-3));
        border-radius: 0 0 var(--mc-scale-2) var(--mc-scale-2);
      }
    }
  }
}

@layer layout {
  .standard-layout {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr var(--mc-scale-10) var(--mc-scale-12) var(--mc-scale-10) 1fr;
    grid-template-areas:
      "navbar navbar navbar navbar navbar"
      "start menu header table-of-content end"
      "start menu body table-of-content end";
    gap: var(--mc-scale-6) var(--mc-scale-7);
    min-height: 100%;

    & .menu-toggle {
      display: none;
    }

    &>header {
      grid-area: navbar;
      height: var(--mc-scale-7);
      position: sticky;
      top: 0;
      container-type: scroll-state;
      z-index: 2;

      background: hsl(var(--mc-neutral-hue) var(--mc-neutral-saturation) var(--mc-lightness-0));

      &>nav {
        display: flex;
        align-items: center;
        padding-inline: var(--mc-scale-6);
        column-gap: var(--mc-scale-4);
        height: 100%;
        transition:
          background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out;

        @container scroll-state(stuck: top) {
          background: hsl(var(--mc-neutral-hue) var(--mc-neutral-saturation) var(--mc-lightness-0) / 0.8);
          backdrop-filter: blur(var(--mc-scale-4));
          box-shadow:
            0 var(--mc-scale-0) var(--mc-scale-4) hsl(var(--mc-shadow-hue) var(--mc-shadow-saturation) var(--mc-lightness-5) / 0.5);
        }

        @supports not (container-type: scroll-state) {
          background: hsl(var(--mc-neutral-hue) var(--mc-neutral-saturation) var(--mc-lightness-0) / 0.8);
          backdrop-filter: blur(var(--mc-scale-4));
          box-shadow:
            0 var(--mc-scale-0) var(--mc-scale-4) hsl(var(--mc-shadow-hue) var(--mc-shadow-saturation) var(--mc-lightness-5) / 0.5);
        }
      }
    }

    &>aside.menu {
      grid-area: menu;
    }

    &>aside.table-of-content {
      grid-area: table-of-content;
    }

    &>aside.menu,
    &>aside.table-of-content {
      padding: 0;

      &>nav {
        position: sticky;
        top: calc(2* var(--mc-scale-7));
      }
    }

    &>hgroup {
      grid-area: header;
    }

    &>[role=document] {
      grid-area: body;
      margin-block-end: var(--mc-scale-6);
    }
  }
}

@layer overrides {
  @media (max-width: 1600px) {
    html {
      font-size: 15px;
    }

  }

  @media (max-width: 1500px) {
    html {
      font-size: 14px;
    }
  }

  @media (max-width: 1400px) {
    html {
      font-size: 13px;
    }
  }

  @media (max-width: 1300px) {
    html {
      font-size: 13px;
    }

    .standard-layout {
      grid-template-rows: auto auto auto 1fr;
      grid-template-columns: 1fr var(--mc-scale-10) var(--mc-scale-12) 3fr;
      grid-template-areas:
        "navbar navbar navbar navbar"
        "start menu header end"
        "start menu table-of-content end"
        "start menu body end";

      gap: var(--mc-scale-6) var(--mc-scale-5);
    }
  }

  @media (max-width: 1200px) {
    html {
      font-size: 14px;
    }

    .standard-layout {
      grid-template-rows: auto auto auto auto 1fr;
      grid-template-columns: var(--mc-scale-5) 1fr var(--mc-scale-5);
      grid-template-areas:
        "navbar navbar navbar"
        "start header end"
        "start table-of-content end"
        "start body end";

      gap: var(--mc-scale-6) var(--mc-scale-5);

      &>aside.menu {
        display: none;
        background: linear-gradient(225deg,
            hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-1)),
            hsl(var(--mc-accent-hue) var(--mc-accent-saturation) var(--mc-lightness-0)) 50%);
      }

      & .menu-toggle {
        display: inline-block;
      }
    }

    @keyframes menu-appear-animation {
      0% {
        transform: translateY(1rem);
        opacity: 0.5;
      }

      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    body.show-menu {
      .standard-layout>aside.menu {
        display: block;
        position: fixed;
        z-index: 3;
        inset: 0;
        inset-block-start: var(--mc-scale-7);
        border-start-end-radius: var(--mc-scale-4);
        border-start-start-radius: var(--mc-scale-4);
        border: var(--mc-border-width) solid hsl(var(--mc-accent-hue) 0% var(--mc-lightness-2));
        border-block-end: none;

        animation: menu-appear-animation 80ms ease-out;
      }

      & header>nav {
        box-shadow: none;
      }
    }

    body.show-menu {
      overflow: hidden;
    }
  }
}
