@layer modules {
  .microbe .avatar {
    height: var(--scale-7);
    aspect-ratio: 1;
    border-radius: 50%;
    background: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-10));
    color: hsl(var(--accent-hue) var(--accent-saturation) var(--background-lightness));
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    user-select: none;

    &.logo {
      border-radius: var(--scale-3);
      background: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-10));
    }

    &>svg {
      font-size: var(--scale-6);
    }

    &>span {
      font-size: calc(var(--scale-6) - var(--scale-2));
    }

    &>img {
      width: 100%;
      aspect-ratio: 1;
    }

  }
}
