@layer modules {
  .microbe {
    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      font-weight: normal;
      text-align: start;
      padding: var(--scale-4) var(--scale-5);
    }

    :is(thead, tfoot) :is(th, td) {
      font-weight: bold;
    }

    tr {
      border-block-end: var(--border-width) solid hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-3));
    }

    tbody>tr:last-child {
      border-block-end: none;
    }

    thead {
      border-block-end: var(--border-width) solid hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-5));

      &>tr:last-child {
        border-block-end: none;
      }
    }

    tfoot {
      border-block-start: var(--border-width) solid hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-5));

      &>tr:last-child {
        border-block-end: none;
      }
    }

    table.striped tbody tr:nth-child(odd) {
      background: hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-1));
    }
  }
}
