@layer settings, defaults, modules, overrides;

@layer settings {
  :root {
    --phi: 1.6185;
    --base: 1em;
    --scale-0: calc(var(--base) * pow(var(--phi), -5));
    --scale-1: calc(var(--base) * pow(var(--phi), -4));
    --scale-2: calc(var(--base) * pow(var(--phi), -3));
    --scale-3: calc(var(--base) * pow(var(--phi), -2));
    --scale-4: calc(var(--base) * pow(var(--phi), -1));
    --scale-5: calc(var(--base) * pow(var(--phi), 0));
    --scale-6: calc(var(--base) * pow(var(--phi), 1));
    --scale-7: calc(var(--base) * pow(var(--phi), 2));
    --scale-8: calc(var(--base) * pow(var(--phi), 3));
    --scale-9: calc(var(--base) * pow(var(--phi), 4));
    --scale-10: calc(var(--base) * pow(var(--phi), 5));
    --scale-11: calc(var(--base) * pow(var(--phi), 6));
    --scale-12: calc(var(--base) * pow(var(--phi), 7));
    --scale-13: calc(var(--base) * pow(var(--phi), 8));

    --font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif;
    --font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    --font-family: var(--font-family-sans-serif);
    --font-weight: 400;
    --line-height: var(--phi);
    --font-size: var(--base);

    --heading-step: 0.36;
    --heading-font-weight: 500;

    --border-width: 1px;
    --focus-outline-width: calc(4*var(--border-width));
    --focus-outline-offset: 0;

    --form-element-height: calc(var(--scale-6) + 2 * var(--scale-3) + 2 * var(--border-width));

    --lightness-0: 100.0%;
    --lightness-1: 96.8%;
    --lightness-2: 90.5%;
    --lightness-3: 82.5%;
    --lightness-4: 74.2%;
    --lightness-5: 65.8%;
    --lightness-6: 57.5%;
    --lightness-7: 49.2%;
    --lightness-8: 40.8%;
    --lightness-9: 32.5%;
    --lightness-10: 23.8%;
    --lightness-11: 13.5%;
    --lightness-12: 0.0%;

    --accent-hue: 210;
    --accent-saturation: 70%;

    --neutral-hue: 0;
    --neutral-saturation: 0%;

    --error-hue: 0;
    --error-saturation: 60%;

    --warning-hue: 45;
    --warning-saturation: 80%;

    --success-hue: 160;
    --success-saturation: 30%;

    --foreground-lightness: var(--lightness-12);
    --background-lightness: var(--lightness-0);
    --focus-lightness: var(--lightness-3);
    --shadow-color: hsl(var(--neutral-hue) 0 50%);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --accent-saturation: 60%;
      --error-saturation: 70%;
      --neutral-hue: calc(mod(var(--accent-hue) + 180 - 15, 360));
      --neutral-saturation: 5%;

      --lightness-0: 20.00%;
      --lightness-1: 26.89%;
      --lightness-2: 32.34%;
      --lightness-3: 36.99%;
      --lightness-4: 41.50%;
      --lightness-5: 46.00%;
      --lightness-6: 50.50%;
      --lightness-7: 55.00%;
      --lightness-8: 59.50%;
      --lightness-9: 63.99%;
      --lightness-10: 68.34%;
      --lightness-11: 71.89%;
      --lightness-12: 74.00%;

      --foreground-lightness: 100%;
      --background-lightness: 22%;
      --focus-lightness: var(--lightness-12);
      --shadow-color: hsl(var(--neutral-hue) 0 10%);
      --focus-outline-width: calc(2*var(--border-width));
      --focus-outline-offset: calc(2*var(--border-width));
    }
  }
}

@layer defaults {
  .microbe {
    color-scheme: light dark;
    color: hsl(var(--neutral-hue) var(--neutral-saturation) var(--foreground-lightness));
    background: hsl(var(--neutral-hue) var(--neutral-saturation) var(--background-lightness));

    &,
    & * {
      box-sizing: border-box;
      font-family: var(--font-family);
      font-size: var(--font-size);
      font-weight: var(--font-weight);
      line-height: var(--line-height);
    }

    h1 {
      font-size: calc(var(--base) * pow(var(--phi), var(--heading-step) * 6));
    }

    h2 {
      font-size: calc(var(--base) * pow(var(--phi), var(--heading-step) * 5));
    }

    h3 {
      font-size: calc(var(--base) * pow(var(--phi), var(--heading-step) * 4));
    }

    h4 {
      font-size: calc(var(--base) * pow(var(--phi), var(--heading-step) * 3));
    }

    h5 {
      font-size: calc(var(--base) * pow(var(--phi), var(--heading-step) * 2));
    }

    h6 {
      font-size: calc(var(--base) * pow(var(--phi), var(--heading-step) * 1));
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: var(--heading-font-weight);
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    address,
    blockquote,
    dl,
    ol,
    p,
    pre,
    table,
    fieldset,
    legend,
    ul,
    .content {
      margin: 0;
      margin-block: var(--scale-5);

      &:is(p) {
        margin-block: var(--scale-4);
      }

      &:is(legend) {
        margin-block-end: var(--scale-3);
      }

      &:is(h1, h2, h3, h4, h5, h6) {
        margin: 0;
      }

      :is(h1, h2, h3, h4, h5, h6)+& {
        margin-block-start: var(--scale-2);
      }

      &:first-child {
        margin-block-start: 0;
      }

      &:last-child {
        margin-block-end: 0;
      }
    }

    hr {
      height: 0;
      border: none;
      border-block-start: var(--border-width) solid hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-3));
      background: none;
      margin-block: var(--scale-5);
    }

    a {
      color: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-8));
      transition: color 0.25s ease-in-out, outline-color 0.1s ease-in-out;
      outline: none;
      text-decoration: none;
      user-select: none;

      &:focus-visible {
        text-decoration: underline;
      }

      &:hover,
      &:active {
        color: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-10));
        text-decoration: underline;
      }

      &[aria-current="page"] {
        color: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-10));

        &:hover,
        &:active {
          color: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-12));
        }
      }
    }

    strong {
      font-weight: calc(var(--font-weight) + 200);
    }

    abbr {
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-7));
    }

    mark {
      background: hsl(50 100% var(--lightness-5));
      color: hsl(var(--neutral-hue) var(--neutral-saturation) var(--foreground-lightness));
    }

    ins {
      color: hsl(var(--success-hue) var(--success-saturation) var(--lightness-9));
      text-decoration: none;
    }

    del {
      color: hsl(var(--error-hue) var(--error-saturation) var(--lightness-9));
      text-decoration: Strikethrough;
    }

    samp {
      font-weight: bold;
      font-family: monospace;
    }

    code,
    kbd {
      display: inline-block;
      border-radius: var(--scale-2);
      padding: 0 var(--scale-3);
      font-size: calc(var(--scale-5) - 2 * var(--border-width));
    }

    code {
      background: light-dark(hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-2)),
          hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-4)));
      font-family: monospace;
    }

    kbd {
      background: hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-11));
      color: hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-0));
      font-weight: bold;
      font-family: monospace;
      padding-inline: var(--scale-4);
    }

    pre>code {
      display: block;
      outline: none;
      padding: var(--scale-5) var(--scale-6);
      background: hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-1));
      border: var(--border-width) solid hsl(var(--accent-hue) 0% var(--lightness-4));
      border-radius: var(--scale-3);
      overflow-x: auto;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th,
    td {
      font-weight: normal;
      text-align: start;
      padding: var(--scale-4) var(--scale-5);
    }

    :is(thead, tfoot) :is(th, td) {
      font-weight: bold;
    }

    tr {
      border-block-end: var(--border-width) solid hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-3));
    }

    tbody>tr:last-child {
      border-block-end: none;
    }

    thead {
      border-block-end: var(--border-width) solid hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-5));

      &>tr:last-child {
        border-block-end: none;
      }
    }

    tfoot {
      border-block-start: var(--border-width) solid hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-5));

      &>tr:last-child {
        border-block-end: none;
      }
    }

    table.striped tbody tr:nth-child(odd) {
      background: hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-1));
    }

    blockquote {
      border-inline-start: var(--scale-2) solid hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-3));
      margin: var(--scale-5) 0;
      padding: var(--scale-5) var(--scale-6);

      &>footer {
        margin-block-start: var(--scale-4);
      }
    }

    ul,
    ol {
      margin-inline-start: var(--scale-3);
      padding-inline-start: var(--scale-5);

      li {
        padding-inline-start: var(--scale-2);
      }
    }

    dl {
      display: grid;
      grid-gap: var(--scale-2) var(--scale-6);
      grid-template-columns: max-content;
      margin-block: var(--scale-5);
      margin-inline-start: var(--scale-6);
    }

    dt {
      font-weight: bold;
    }

    dd {
      margin: 0;
      grid-column-start: 2;
    }

    small {
      font-size: smaller;
    }

    fieldset {
      padding: 0;
      border: none;
    }

    button {
      cursor: pointer;
    }
  }
}
