@layer modules {

  @keyframes slide-down-and-in-animation {
    0% {
      transform: translateY(calc(-1 * var(--scale-3)));
      opacity: 0.3;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .microbe {
    button.chevron:after {
      display: inline;
      content: "";
      background: currentColor;
      mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>');
      height: 1em;
      width: 1em;
      transition: transform 0.2s ease-in-out;
    }

    button.chevron:has(+ :popover-open):after {
      transform: rotate(-180deg);
    }

    ul.menu {
      position-area: block-end span-inline-end;
      position-try-fallbacks: flip-block;

      box-shadow: var(--scale-2) var(--scale-2) var(--scale-4) 0 hsl(from var(--shadow-color) h s l / 0.2),
        calc(var(--scale-2) * -1) var(--scale-2) var(--scale-4) 0 hsl(from var(--shadow-color) h s l / 0.2);

      color: hsl(var(--neutral-hue) var(--neutral-saturation) var(--foreground-lightness));
      background: hsl(var(--neutral-hue) var(--neutral-saturation) var(--background-lightness));

      margin: 0;
      padding: 0;
      padding-block: var(--scale-3);
      margin-block-start: var(--scale-1);
      min-width: var(--scale-10);
      box-sizing: border-box;

      border: var(--border-width) solid hsl(var(--neutral-hue) var(--neutral-saturation) var(--lightness-4));
      border-radius: var(--scale-2);

      &:popover-open {
        animation: slide-down-and-in-animation 80ms ease-out;
      }

      &>li {
        list-style-type: none;
        padding: 0;

        &>:is(a, button) {
          display: block;
          width: 100%;
          box-sizing: border-box;
          padding: var(--scale-4) var(--scale-5);
          color: hsl(var(--neutral-hue) var(--neutral-saturation) var(--foreground-lightness));
          background: hsl(var(--neutral-hue) var(--neutral-saturation) var(--background-lightness));
          text-align: start;
          border: none;
          border-inline-start: var(--scale-2) solid transparent;
          font-size: var(--font-size);
          line-height: var(--line-height);

          &:focus,
          &:hover {
            text-decoration: none;
            background: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-1));
          }

          &:focus {
            border-color: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-4));
            outline: none;
          }
        }
      }
    }
  }
}
