.anchors-row {
  display: flex;
  gap: var(--scale-5);
  margin-block: var(--scale-5);

  &:first-child {
    margin-block-start: 0
  }

  &:last-child {
    margin-block-end: 0
  }
}

.spacing-row {
  display: flex;
  margin-block: var(--scale-3);
}

.spacing-label {
  padding: var(--scale-3) var(--scale-4);
  width: 8rem;
  text-align: end;
}

.spacing-box {
  background: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-2));
  border: thin solid hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-4));
  display: inline-block;
  height: var(--scale-4);
}

.buttons-row {
  display: flex;
  gap: var(--scale-5);
  margin-block: var(--scale-5);

  &:first-child {
    margin-block-start: 0
  }

  &:last-child {
    margin-block-end: 0
  }
}

.color-grid {
  display: inline-grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: calc(var(--scale-12) / 12 - var(--scale-2));
  gap: var(--scale-2);
  width: 100%;
}

.color-grid+.color-grid {
  margin-block-start: var(--scale-6)
}

.color-grid-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-sample {
  --hue: attr(data-hue type(<number>));
  --saturation: attr(data-saturation type(<percentage>));
  background: hsl(var(--hue) var(--saturation) var(--lightness));
  border: none;
  display: block;
  border-radius: var(--scale-1);
}

#color-range,
#saturation-range {
  width: 100%;
}

.example.card .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  gap: var(--scale-3);
  justify-items: center;
}

.example.card .grid.stretch {
  justify-items: stretch;
}

.example.card .rows {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--scale-3);
  justify-items: stretch;
}

.example.card .rows:has(.grid) {
  gap: var(--scale-4);
}

@media (max-width: 600px) {
  .example.card .grid:not(.small) {
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}

@media (max-width: 1200px) {
  .color-grid {
    gap: 0;
  }

  .color-sample {
    border-radius: 0;
  }
}
