.anchors-row {
  display: flex;
  gap: var(--scale-5);
  margin-block: var(--scale-5);

  &:first-child {
    margin-block-start: 0
  }

  &:last-child {
    margin-block-end: 0
  }
}

.spacing-row {
  display: flex;
  margin-block: var(--scale-3);
}

.spacing-label {
  padding: var(--scale-3) var(--scale-4);
  width: 8rem;
  text-align: end;
}

.spacing-box {
  background: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-2));
  border: thin solid hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-4));
  display: inline-block;
  height: var(--scale-4);
}

.buttons-row {
  display: flex;
  gap: var(--scale-5);
  margin-block: var(--scale-5);

  &:first-child {
    margin-block-start: 0
  }

  &:last-child {
    margin-block-end: 0
  }
}

.color-grid {
  display: inline-grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: calc(var(--scale-12) / 12 - var(--scale-2));
  gap: var(--scale-2);
  width: 100%;
}

.color-grid+.color-grid {
  margin-block-start: var(--scale-6)
}

.color-grid-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.color-sample {
  --hue: attr(data-hue type(<number>));
  --saturation: attr(data-saturation type(<percentage>));
  background: hsl(var(--hue) var(--saturation) var(--lightness));
  border: none;
  display: block;
  border-radius: var(--scale-1);
}

#color-range,
#saturation-range {
  width: 100%;
}

#color-range {
  appearance: none;
  background-color: rgba(0, 0, 0, 0.1);
  height: 0.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(to right,
      hsl(0 var(--accent-saturation) 50%),
      hsl(20 var(--accent-saturation) 50%),
      hsl(30 var(--accent-saturation) 50%),
      hsl(40 var(--accent-saturation) 50%),
      hsl(50 var(--accent-saturation) 50%),
      hsl(60 var(--accent-saturation) 50%),
      hsl(70 var(--accent-saturation) 50%),
      hsl(80 var(--accent-saturation) 50%),
      hsl(90 var(--accent-saturation) 50%),
      hsl(100 var(--accent-saturation) 50%),
      hsl(110 var(--accent-saturation) 50%),
      hsl(120 var(--accent-saturation) 50%),
      hsl(130 var(--accent-saturation) 50%),
      hsl(140 var(--accent-saturation) 50%),
      hsl(150 var(--accent-saturation) 50%),
      hsl(160 var(--accent-saturation) 50%),
      hsl(170 var(--accent-saturation) 50%),
      hsl(180 var(--accent-saturation) 50%),
      hsl(190 var(--accent-saturation) 50%),
      hsl(200 var(--accent-saturation) 50%),
      hsl(210 var(--accent-saturation) 50%),
      hsl(220 var(--accent-saturation) 50%),
      hsl(230 var(--accent-saturation) 50%),
      hsl(240 var(--accent-saturation) 50%),
      hsl(250 var(--accent-saturation) 50%),
      hsl(260 var(--accent-saturation) 50%),
      hsl(270 var(--accent-saturation) 50%),
      hsl(280 var(--accent-saturation) 50%),
      hsl(290 var(--accent-saturation) 50%),
      hsl(300 var(--accent-saturation) 50%),
      hsl(310 var(--accent-saturation) 50%),
      hsl(320 var(--accent-saturation) 50%),
      hsl(330 var(--accent-saturation) 50%),
      hsl(340 var(--accent-saturation) 50%),
      hsl(350 var(--accent-saturation) 50%),
      hsl(360 var(--accent-saturation) 50%));

  &:focus {
    outline: none;
  }

  &::-ms-track {
    appearance: none;
    opacity: 0;
    outline: none !important;
  }

  &::-moz-range-track {
    appearance: none;
    opacity: 0;
    outline: none !important;
  }

  &::-webkit-slider-thumb {
    height: var(--scale-5);
    width: var(--scale-5);
    border-radius: 50%;
    appearance: none;
    background: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-8));
    border: var(--scale-1) solid hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-0));
    cursor: grab;
    transition: border 0.1s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
  }

  &::-moz-range-thumb {
    height: var(--scale-5);
    width: var(--scale-5);
    border-radius: 50%;
    appearance: none;
    background: hsl(var(--accent-hue) var(--accent-saturation) var(--lightness-8));
    cursor: grab;
    border: none;
    transition: border 0.1s ease-in-out, box-shadow 0.2s ease-in-out, transform 0.1s ease-in-out;
  }
}

.example.card .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  gap: var(--scale-3);
  justify-items: center;
}

.example.card .grid.stretch {
  justify-items: stretch;
}

.example.card .rows {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--scale-3);
  justify-items: stretch;
}

.example.card .rows:has(.grid) {
  gap: var(--scale-4);
}

@media (max-width: 600px) {
  .example.card .grid:not(.small) {
    grid-template-columns: 1fr;
    justify-items: stretch;
  }
}

@media (max-width: 1200px) {
  .color-grid {
    gap: 0;
  }

  .color-sample {
    border-radius: 0;
  }
}
