package templates

templ Anchors() {
  <hgroup id="content-header">
    <h1>Anchors</h1>
  </hgroup>
  <div id="content" role="document">
    <div class="anchors-row">
      <a href="#">Regular link</a>
      <a href="#" aria-current="page">Active link</a>
    </div>
  </div>
}
