
package templates
import "fmt"

templ Spacing() {
  <hgroup id="content-header">
    <h1>Spacing</h1>
  </hgroup>
  <section id="content" role="document" class="spacing">
    for level := range 12 {
      <div key={level} class="spacing-row" >
        <span class="spacing-label">--scale-{level}</span>
        <span class="spacing-box" style={fmt.Sprintf("width: var(--scale-%d)", level)} />
      </div>
    }
  </section>
}
